body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc;
}
.container {
  width: 100%;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.transactions,
.analytics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5rem;
  gap: 2rem;
}

@media (max-width: 768px) {
  .analytics,
  .transactions {
    grid-template-columns: 1fr;
  }
}
