<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyFinance</title>
    <link rel="stylesheet" href="../css/views/index.css" />
  </head>
  <body>
    <header class="cabecalho" id="header">
      <div class="container">
        <div class="flex">
          <div class="menu">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">SOBRE NÓS</a></li>
              <li><a href="#">FALE CONOSCO</a></li>
            </ul>
        </div>
          <div class="btn-login">
            <a href="login.html">
              <button>Login</button>
            </a>
          </div>
        </div><!--flex-->
      </div><!--container-->
  
    </header>
    <section class="banner">
      <h1>SUA LIBERDADE <SPAN>COMEÇA AQUI.</SPAN></h1>
    </section>
    <article class="sobre-nos-container">
        <div class="sobre"> </div>
        <div class="sobre"> </div>
        <div class="sobre"> </div>
    </article>
    <footer class="rodape"></footer>
  


    <script src="../js/views/index.js" rel="js"></script>
  </body>
</html>
